# Lesson 1 - Data types

---

# Lesson 1 - Part 01 - Reading compressed data

## 1. Importing Libraries

In [48]:
import pandas as pd
from zipfile import ZipFile

## 2. Getting the data

In [20]:
path = '/home/gabriela/Data Science/bootcamp-alura/module3/dataset/PeNSE_2015_AMOSTRA2.zip'

zip_ = ZipFile(path)
file = zip_.namelist()[1]

pense_2015 = pd.read_csv(zip_.open(file), 
                         sep=';')

pense_2015.head()

,ANOPESQ,PAIS,REGEOGR,VB00004,VB01001,VB01002,VB01003,VB01004,VB01005,VB01006,...,ESTRATO_EXP,ESTRATOGEOREG,PESO,V0006,V0007,V0008,V0041,aluno,escola,turma
0,2015,76,1,1,2,1,13,7,7,1,...,1223,1,"299,735235",1,2,4,1,1,1,296
1,2015,76,1,1,2,1,14,4,7,1,...,1223,1,"355,170081",1,2,4,1,2,1,296
2,2015,76,1,1,1,4,13,6,7,1,...,1223,1,"299,735235",1,2,4,1,3,1,296
3,2015,76,1,1,1,1,14,6,7,1,...,1223,1,"355,170081",1,2,4,1,4,1,296
4,2015,76,1,1,1,1,13,9,7,1,...,1223,1,"299,735235",1,2,4,1,5,1,296

In [16]:
zip_.infolist()

[<ZipInfo filename='arquivos csv/' external_attr=0x10>,
 <ZipInfo filename='arquivos csv/PENSE_AMOSTRA2_ALUNO.CSV' compress_type=deflate external_attr=0x20 file_size=7262170 compress_size=1235667>,
 <ZipInfo filename='arquivos csv/PENSE_AMOSTRA2_ALUNOESCOLA.CSV' compress_type=deflate external_attr=0x20 file_size=11420533 compress_size=1329882>,
 <ZipInfo filename='arquivos csv/PENSE_AMOSTRA2_ESCOLA.CSV' compress_type=deflate external_attr=0x20 file_size=5000642 compress_size=114324>,
 <ZipInfo filename='arquivos sas/' external_attr=0x10>,
 <ZipInfo filename='arquivos sas/pense_amostra2_aluno.sas7bdat' compress_type=deflate external_attr=0x20 file_size=24691712 compress_size=1957530>,
 <ZipInfo filename='arquivos sas/pense_amostra2_alunoescola.sas7bdat' compress_type=deflate external_attr=0x20 file_size=45253632 compress_size=2461932>,
 <ZipInfo filename='arquivos sas/pense_amostra2_escola.sas7bdat' compress_type=deflate external_attr=0x20 file_size=18105344 compress_size=332162>,
 <ZipInfo filename='arquivos xlsx/' external_attr=0x10>,
 <ZipInfo filename='arquivos xlsx/PENSE_AMOSTRA2_ALUNO.xlsx' compress_type=deflate external_attr=0x20 file_size=11757246 compress_size=11337133>,
 <ZipInfo filename='arquivos xlsx/PENSE_AMOSTRA2_ALUNOESCOLA.xlsx' compress_type=deflate external_attr=0x20 file_size=18732739 compress_size=17064325>,
 <ZipInfo filename='arquivos xlsx/PENSE_AMOSTRA2_ESCOLA.xlsx' compress_type=deflate external_attr=0x20 file_size=7159579 compress_size=3209953>,
 <ZipInfo filename='Dicionario_PENSE_Microdados_AMOSTRA2.xls' compress_type=deflate external_attr=0x20 file_size=144896 compress_size=35737>]

In [17]:
zip_.namelist()

['arquivos csv/',
 'arquivos csv/PENSE_AMOSTRA2_ALUNO.CSV',
 'arquivos csv/PENSE_AMOSTRA2_ALUNOESCOLA.CSV',
 'arquivos csv/PENSE_AMOSTRA2_ESCOLA.CSV',
 'arquivos sas/',
 'arquivos sas/pense_amostra2_aluno.sas7bdat',
 'arquivos sas/pense_amostra2_alunoescola.sas7bdat',
 'arquivos sas/pense_amostra2_escola.sas7bdat',
 'arquivos xlsx/',
 'arquivos xlsx/PENSE_AMOSTRA2_ALUNO.xlsx',
 'arquivos xlsx/PENSE_AMOSTRA2_ALUNOESCOLA.xlsx',
 'arquivos xlsx/PENSE_AMOSTRA2_ESCOLA.xlsx',
 'Dicionario_PENSE_Microdados_AMOSTRA2.xls']

In [21]:
!ls

dataset  pense_2015.ipynb

**Challenge 1: Unzip the zipped folder using linux commands (bash)**

**Challenge 2: Study pense dataset**

# Lesson 1 - Part 02 - Data types

In [22]:
pense_2015.head()

,ANOPESQ,PAIS,REGEOGR,VB00004,VB01001,VB01002,VB01003,VB01004,VB01005,VB01006,...,ESTRATO_EXP,ESTRATOGEOREG,PESO,V0006,V0007,V0008,V0041,aluno,escola,turma
0,2015,76,1,1,2,1,13,7,7,1,...,1223,1,"299,735235",1,2,4,1,1,1,296
1,2015,76,1,1,2,1,14,4,7,1,...,1223,1,"355,170081",1,2,4,1,2,1,296
2,2015,76,1,1,1,4,13,6,7,1,...,1223,1,"299,735235",1,2,4,1,3,1,296
3,2015,76,1,1,1,1,14,6,7,1,...,1223,1,"355,170081",1,2,4,1,4,1,296
4,2015,76,1,1,1,1,13,9,7,1,...,1223,1,"299,735235",1,2,4,1,5,1,296

In [23]:
pense_2015.shape

(16556, 181)

In [24]:
pense_2015.columns

Index(['ANOPESQ', 'PAIS', 'REGEOGR', 'VB00004', 'VB01001', 'VB01002',
       'VB01003', 'VB01004', 'VB01005', 'VB01006',
       ...
       'ESTRATO_EXP', 'ESTRATOGEOREG', 'PESO', 'V0006', 'V0007', 'V0008',
       'V0041', 'aluno', 'escola', 'turma'],
      dtype='object', length=181)

In [29]:
pense_2015.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16556 entries, 0 to 16555
Columns: 181 entries, ANOPESQ to turma
dtypes: float64(7), int64(171), object(3)
memory usage: 22.9+ MB

In [30]:
pense_2015.select_dtypes(include='object')

      VB17003 VB17004        PESO
0        37,1     157  299,735235
1        50,2     152  355,170081
2        48,2   161,4  299,735235
3        69,4   172,5  355,170081
4        78,9   167,5  299,735235
...       ...     ...         ...
16551    56,7   167,9  447,815539
16552    61,9   185,8   592,50744
16553    60,9   159,4  401,131512
16554    47,3   157,8  442,718091
16555    62,6   163,9   592,50744

[16556 rows x 3 columns]

In [32]:
pense_2015 = pd.read_csv(zip_.open(file), 
                         sep=';', thousands='.',
                         decimal=',')

pense_2015.head()

,ANOPESQ,PAIS,REGEOGR,VB00004,VB01001,VB01002,VB01003,VB01004,VB01005,VB01006,...,ESTRATO_EXP,ESTRATOGEOREG,PESO,V0006,V0007,V0008,V0041,aluno,escola,turma
0,2015,76,1,1,2,1,13,7,7,1,...,1223,1,299.735235,1,2,4,1,1,1,296
1,2015,76,1,1,2,1,14,4,7,1,...,1223,1,355.170081,1,2,4,1,2,1,296
2,2015,76,1,1,1,4,13,6,7,1,...,1223,1,299.735235,1,2,4,1,3,1,296
3,2015,76,1,1,1,1,14,6,7,1,...,1223,1,355.170081,1,2,4,1,4,1,296
4,2015,76,1,1,1,1,13,9,7,1,...,1223,1,299.735235,1,2,4,1,5,1,296

In [33]:
pense_2015.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16556 entries, 0 to 16555
Columns: 181 entries, ANOPESQ to turma
dtypes: float64(10), int64(171)
memory usage: 22.9 MB

In [35]:
pense_2015.select_dtypes(include='float64')

,TEMPODESLOC,TEMPOTOTAL,TEMPOEDFIS,TEMPOEXTRA,TEMPOEST,VB17001,VB17002,VB17003,VB17004,PESO
0,0.0,15.0,0.0,15.0,60.0,371.0,1570.0,37.1,157.0,299.735235
1,120.0,510.0,260.0,130.0,300.0,502.0,1520.0,50.2,152.0,355.170081
2,0.0,585.0,130.0,455.0,420.0,482.0,1614.0,48.2,161.4,299.735235
3,0.0,0.0,0.0,0.0,0.0,694.0,1725.0,69.4,172.5,355.170081
4,30.0,165.0,90.0,45.0,60.0,789.0,1675.0,78.9,167.5,299.735235
...,...,...,...,...,...,...,...,...,...,...
16551,30.0,400.0,110.0,260.0,240.0,567.0,1679.0,56.7,167.9,447.815539
16552,20.0,800.0,325.0,455.0,240.0,619.0,1858.0,61.9,185.8,592.507440
16553,0.0,0.0,0.0,0.0,60.0,609.0,1594.0,60.9,159.4,401.131512
16554,75.0,215.0,35.0,105.0,120.0,473.0,1578.0,47.3,157.8,442.718091
16555,50.0,485.0,110.0,325.0,360.0,626.0,1639.0,62.6,163.9,592.507440

**Challenge 03: Classify the variables into qualitative (nominal and ordinal) and quantitative (discrete and continuous).**

### Challenge 01: Unzip the zipped folder using linux commands (bash)

from command line:

`sudo apt-get install unzip` (I already have this installed)

Then,
`unzip file.zip -d destination_folder`

if you are in the path (destination directory) <br>
`unzip file.zip`

### Challenge 02: Study pense dataset

In [66]:
dictionary = '/home/gabriela/Data Science/bootcamp-alura/module3/dataset/Dicionario_PENSE_Microdados_AMOSTRA2.xls'

dictionary_pense_student = pd.read_excel(dictionary,
                                         sheet_name='AMOSTRA2_ALUNO')

dictionary_pense_school = pd.read_excel(dictionary,
                                         sheet_name='AMOSTRA2_ESCOLA')

dictionary_pense_student.head()

  VARIÁVEL                QUESTIONÁRIO DO ALUNO
0  ANOPESQ  Ano em que a pesquisa foi realizada
1     PAIS                                 País
2       76                               Brasil
3  REGEOGR                    Região geográfica
4        1                                Norte

**search about 'UnsupportedOperation: seek zip' error.**

### Challenge 03: Classify the variables into qualitative (nominal and ordinal) and quantitative (discrete and continuous)

In [68]:
dictionary_pense_student.tail(35)

           VARIÁVEL                              QUESTIONÁRIO DO ALUNO
1183            998                                      Não informado
1184           9999               Recusa ou impossibilidade de medição
1185        VB17003  Peso do estudante, incluindo os imputados, com...
1186        VB17004  Altura do estudante, incluindo os imputados, c...
1187        VB17005  Variável identificadora se houve imputação no ...
1188              1                                                Sim
1189              2                                                Não
1190        VB17006  Variável identificadora do estado nutricional ...
1191              1                                    Deficit de peso
1192              2                                           Eutrofia
1193              3                                          Sobrepeso
1194              4                                          Obesidade
1195  ESTRATOGEOREG                        Indicador de estrato georeg
1196    ESTRATO_EXP                               Expressão do estrato
1197           PESO  Peso do aluno de acordo com a amostra, utiliza...
1198          V0006                                 Situação da escola
1199              1                                             Urbana
1200              2                                              Rural
1201          V0007               Dependência Administrativa da escola
1202              1                                            Pública
1203              2                                            Privada
1204          V0008                    Esfera Administrativa da escola
1205              1                                          Municipal
1206              2                                           Estadual
1207              3                                            Federal
1208              4                                            Privada
1209          V0041                             Tipo de escola privada
1210             -1                               Pulo no questionário
1211              1                                         Particular
1212              2                                        Comunitária
1213              3                                       Confessional
1214              4                                       Filantrópica
1215          aluno                                  contador de aluno
1216         escola               UPA (unidade primária de amostragem)
1217          turma             USA (unidade secundária de amostragem)

- quantitative continuous: VB17003, VB17004


- qualitative nominal: VB17005, V0006, V0007, V0008, V0041


- qualitative ordinal: VB17006


**Think about V0008.**