In [1]:
import pandas as pd

In [2]:
cars = {'Brands': ['Honda Civic','Toyota Corolla','Ford Focus','Audi A4'],
        'Prices': [22000,25000,27000,35000]}

In [3]:
df = pd.DataFrame(cars)

df

           Brands  Prices
0     Honda Civic   22000
1  Toyota Corolla   25000
2      Ford Focus   27000
3         Audi A4   35000

In [4]:
# between curly brackets we have css
df.style.set_properties(**{'background-color': 'blue',
                           'color': 'white',
                           'border-color': 'black'})

In [5]:
def color_price(val):
    if val <= 25000:
        color = 'red'
    else:
        color = 'black'
    return 'color: %s' % color

In [7]:
color_price(2)

'color: red'

In [6]:
df.style.applymap(color_price, subset='Prices')

In [8]:
df.style.applymap(color_price, subset='Prices') \
  .to_excel('stylized.xlsx', engine='openpyxl')