# COVID-19 - Clinical Data to assess diagnosis

# Lesson 01 - Health and Machine Learning

Desafio 01: Se você não conhece o Kaggle, explore um pouco os datasets, competições e discussões para verificar o quão rico é esta plataforma.

Desafio 02: Leia a descrição do problema proposta pelo Sírio Libanês, tentando entender qual é o real problema. Antes de continuar para as próximas aulas, debata no Discord suas conclusões sobre o projeto.

# Lesson 02 - Kaggle


Firsts impressions from the data

In [1]:
from zipfile import ZipFile
from io import BytesIO
import requests
import pandas as pd
# Open data from github zip file
# get the file by requesting the url

In [3]:
data_url_zip = requests.get('https://github.com/gabrielatrindade/alura-bootcamp/blob/master/module5/patient.zip?raw=true')

zipfile = ZipFile(BytesIO(data_url_zip.content)) # convert data from get into binary data
file_name= zipfile.namelist()[0] # return file name from zifile namlist content

patients = pd.read_excel(zipfile.open(file_name).read())

patients.head()

,PATIENT_VISIT_IDENTIFIER,AGE_ABOVE65,AGE_PERCENTIL,GENDER,DISEASE GROUPING 1,DISEASE GROUPING 2,DISEASE GROUPING 3,DISEASE GROUPING 4,DISEASE GROUPING 5,DISEASE GROUPING 6,...,TEMPERATURE_DIFF,OXYGEN_SATURATION_DIFF,BLOODPRESSURE_DIASTOLIC_DIFF_REL,BLOODPRESSURE_SISTOLIC_DIFF_REL,HEART_RATE_DIFF_REL,RESPIRATORY_RATE_DIFF_REL,TEMPERATURE_DIFF_REL,OXYGEN_SATURATION_DIFF_REL,WINDOW,ICU
0,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0-2,0
1,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,2-4,0
2,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4-6,0
3,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,-1.000000,-1.000000,NaN,NaN,NaN,NaN,-1.000000,-1.000000,6-12,0
4,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,-0.238095,-0.818182,-0.389967,0.407558,-0.230462,0.096774,-0.242282,-0.814433,ABOVE_12,1

In [4]:
patients.describe()

,PATIENT_VISIT_IDENTIFIER,AGE_ABOVE65,GENDER,DISEASE GROUPING 1,DISEASE GROUPING 2,DISEASE GROUPING 3,DISEASE GROUPING 4,DISEASE GROUPING 5,DISEASE GROUPING 6,HTN,...,RESPIRATORY_RATE_DIFF,TEMPERATURE_DIFF,OXYGEN_SATURATION_DIFF,BLOODPRESSURE_DIASTOLIC_DIFF_REL,BLOODPRESSURE_SISTOLIC_DIFF_REL,HEART_RATE_DIFF_REL,RESPIRATORY_RATE_DIFF_REL,TEMPERATURE_DIFF_REL,OXYGEN_SATURATION_DIFF_REL,ICU
count,1925.000000,1925.000000,1925.000000,1920.000000,1920.000000,1920.000000,1920.000000,1920.000000,1920.000000,1920.000000,...,1177.000000,1231.000000,1239.000000,1240.000000,1240.000000,1240.000000,1177.000000,1231.000000,1239.000000,1925.000000
mean,192.000000,0.467532,0.368831,0.108333,0.028125,0.097917,0.019792,0.128125,0.046875,0.213021,...,-0.703683,-0.770338,-0.887196,-0.786997,-0.715950,-0.817800,-0.719147,-0.771327,-0.886982,0.267532
std,111.168431,0.499074,0.482613,0.310882,0.165373,0.297279,0.139320,0.334316,0.211426,0.409549,...,0.482097,0.319001,0.296147,0.324754,0.419103,0.270217,0.446600,0.317694,0.296772,0.442787
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0.000000
25%,96.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0.000000
50%,192.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-1.000000,-0.976190,-0.979798,-1.000000,-0.984944,-0.989822,-1.000000,-0.975924,-0.980333,0.000000
75%,288.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-0.647059,-0.595238,-0.878788,-0.645482,-0.522176,-0.662529,-0.634409,-0.594677,-0.880155,1.000000
max,384.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [5]:
patients['ICU']

0       0
1       0
2       0
3       0
4       1
       ..
1920    0
1921    0
1922    0
1923    0
1924    0
Name: ICU, Length: 1925, dtype: int64

In [6]:
patients['ICU'].value_counts()

0    1410
1     515
Name: ICU, dtype: int64

### Challenge 01: Study and Learn about supervised and unsupervised learnings, reinforcement and etc.
From wwcode slides:

- Supervised Learning: The algorithm learns from example data and associated target responses, in order to later predict the correct response when posed with new examples comes. <br>
    This approach is similar to a human learning under the supervision of a teacher.
    
    
- Unsupervised Learning: The algorithm learns from example data without any associated response, leaving to the algorithm to determine the data patterns on its own. <br>
    This is similar to methods humans use to figure out that certain objects or events are from the same class by observing the degree of similarity between objects.
    
    
- Semi-supervised Learning: Class of algorithms that are able to learn from partially labeled data sets. <br>
    Supervised Learning requires the dataset to be labeled either - this is a very costly process, especially when dealing with large volumes of data. <br>
    Unsupervised Learning has the disadvantage of limited application spectrum.
    
    
- Reinforcement Learning: The algorithm learns from example data along with positive/negative feedback to each prediction the algorithm proposes. <br>
    The algorithm must make decisions and the decisions bear “consequences”. <br>
    In the human world, it is just like learning by trial and error.

### Challenge 02: Study and Learn about regression and classification, etc.

▸ Classification - for categorical data
<br>
▸ Regression - for continuous data

# Lesson 03 - Machine Learning model

Creating the first Machine Learning model

In the wrong way! :p

In [7]:
from sklearn.linear_model import LogisticRegression

In [18]:
patients_useful = patients.dropna()

In [19]:
target_patients = patients_useful['ICU'].copy()
features_patients = patients_useful.drop('ICU', axis=1).copy()

features_patients.head()

,PATIENT_VISIT_IDENTIFIER,AGE_ABOVE65,AGE_PERCENTIL,GENDER,DISEASE GROUPING 1,DISEASE GROUPING 2,DISEASE GROUPING 3,DISEASE GROUPING 4,DISEASE GROUPING 5,DISEASE GROUPING 6,...,RESPIRATORY_RATE_DIFF,TEMPERATURE_DIFF,OXYGEN_SATURATION_DIFF,BLOODPRESSURE_DIASTOLIC_DIFF_REL,BLOODPRESSURE_SISTOLIC_DIFF_REL,HEART_RATE_DIFF_REL,RESPIRATORY_RATE_DIFF_REL,TEMPERATURE_DIFF_REL,OXYGEN_SATURATION_DIFF_REL,WINDOW
4,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.176471,-0.238095,-0.818182,-0.389967,0.407558,-0.230462,0.096774,-0.242282,-0.814433,ABOVE_12
6,1,1,90th,1,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,2-4
8,1,1,90th,1,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.764706,-0.880952,-1.000000,-0.906832,-0.831132,-0.940967,-0.817204,-0.882574,-1.000000,6-12
9,1,1,90th,1,0.0,0.0,0.0,0.0,1.0,0.0,...,0.764706,0.142857,-0.797980,0.315690,0.200359,-0.239515,0.645161,0.139709,-0.802317,ABOVE_12
14,2,0,10th,0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.705882,-0.500000,-0.898990,-0.612422,-0.343258,-0.576744,-0.695341,-0.505464,-0.900129,ABOVE_12

The model works only with int or float columns.

In [20]:
patients_useful.describe().columns

Index(['PATIENT_VISIT_IDENTIFIER', 'AGE_ABOVE65', 'GENDER',
       'DISEASE GROUPING 1', 'DISEASE GROUPING 2', 'DISEASE GROUPING 3',
       'DISEASE GROUPING 4', 'DISEASE GROUPING 5', 'DISEASE GROUPING 6', 'HTN',
       ...
       'RESPIRATORY_RATE_DIFF', 'TEMPERATURE_DIFF', 'OXYGEN_SATURATION_DIFF',
       'BLOODPRESSURE_DIASTOLIC_DIFF_REL', 'BLOODPRESSURE_SISTOLIC_DIFF_REL',
       'HEART_RATE_DIFF_REL', 'RESPIRATORY_RATE_DIFF_REL',
       'TEMPERATURE_DIFF_REL', 'OXYGEN_SATURATION_DIFF_REL', 'ICU'],
      dtype='object', length=229)

In [21]:
x_columns = patients_useful.describe().columns
features_patients = patients_useful[x_columns].drop('ICU', axis=1)

In [22]:
LR_model = LogisticRegression()

LR_model.fit(features_patients, target_patients)

/home/gabriela/.local/lib/python3.6/site-packages/sklearn/linear_model/_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression()

**Challenge 01: Read about ethics in the data area, IA.**

In [24]:
features_patients.iloc[4]

PATIENT_VISIT_IDENTIFIER           2.000000
AGE_ABOVE65                        0.000000
GENDER                             0.000000
DISEASE GROUPING 1                 0.000000
DISEASE GROUPING 2                 0.000000
                                     ...
BLOODPRESSURE_SISTOLIC_DIFF_REL   -0.343258
HEART_RATE_DIFF_REL               -0.576744
RESPIRATORY_RATE_DIFF_REL         -0.695341
TEMPERATURE_DIFF_REL              -0.505464
OXYGEN_SATURATION_DIFF_REL        -0.900129
Name: 14, Length: 228, dtype: float64

In [26]:
LR_model.predict([features_patients.iloc[4]])

array([1])

In [27]:
target_patients.iloc[4]

1

In [32]:
(LR_model.predict(features_patients) == target_patients).value_counts()

True     497
False     48
Name: ICU, dtype: int64

In [38]:
accuracy = sum(LR_model.predict(features_patients) == target_patients) / len(features_patients) * 100
accuracy

91.19266055045871

In [37]:
sum(LR_model.predict(features_patients) != target_patients) / len(features_patients) * 100

8.807339449541285

### But, of course, it doenst make sense train and predict/test with the same sample.

**Challenge 02: Why did we drop the target from features to fit the model? What will happen if we fit the model using a target inside the features (X)?**

Note: Logistic Regression 'transform a regression into classification'. For example, when I think about a someone who bet the lottery. I can say that the probability of him winning is very small.. or that it is zero (converting regression problem into classification one).

### Challenge 01: Read about ethics in the data area, IA.

Read https://towardsdatascience.com/the-ethics-of-data-science-e3b1828affa2

https://www.amazon.com/Ethical-Algorithm-Science-Socially-Design/dp/0190948205



### Challenge 02: Why did we drop the target from features to fit the model? What will happen if we fit the model using a target inside the features (X)?

We need to show what our target is and what is the features that we will use to train the model. The match of the target and features values will give to the model the ability to learn from the data.

# Lesson 04 - Metrics and Evaluation

Measuring and evaluating the model